.custom-navbar {
    background-color: white;
    color: #FFFFFF;
    padding: 25px;
    border-bottom: 3px solid #076633;
  }
  
  .custom-navbar .navbar-brand {
    font-size: 24px;
    letter-spacing: 2px;
  }
  
  .custom-navbar .navbar-brand img {
    margin-right: 10px;
  }
  
  .custom-navbar .zoom-logo {
    transition: transform 0.3s;
  }
  
  .custom-navbar .zoom-logo:hover {
    transform: scale(1.2);
  }
  